# Server config
PORT=3017
HOST=127.0.0.1
SIGN_STORAGE_DIR=./storage

# Security
API_KEY=your_random_32_char_key_here

# SmartID config (optional)
SMARTID_ENABLED=0
SMARTID_CLIENT_ID_PREFIX=
SMARTID_ADDRESS=https://acsk.privatbank.ua/cloud/api/back/
SMARTID_CONFIRMATION_URL=https://www.privat24.ua/rd/kep
SMARTID_DIRECT_ACCESS=false
